@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap");
.borde, .borde-bazar-deco {
  border: double #ff5072; }

.borde-bazar-deco {
  border-color: #ef9a9a;
  border-width: 6px; }

.text-center {
  text-align: center; }

.body {
  font-family: "montserrat", sans-serif;
  background-color: #ecd3a7;
  box-sizing: border-box;
  margin: 8px !important; }

h1, h2, h3 {
  text-align: center;
  font-size: 6vh;
  font-weight: 350;
  text-decoration: underline; }

h2 {
  font-family: italic !important; }

figure {
  font-size: 3vh;
  font-weight: 500; }

nav {
  border: double #ff5072;
  background-color: #0F0E0E; }

ul li {
  background: linear-gradient(to left, #ef9a9a, whitesmoke);
  margin-left: 30px;
  border-color: #ecd3a7 !important; }
  ul li:hover {
    transform: translate(0px, 10px);
    transition: transform 1.5s; }
    ul li:hover a {
      border-color: #ff5072 !important; }

#img_radius {
  border-radius: 50%;
  width: 50%; }

.nav {
  border-bottom: 0px !important; }

.navbar-toggler {
  background-color: #F5F0F0 !important;
  margin-right: 50px; }

.nav-tabs {
  display: flex;
  justify-content: center; }

.main__index {
  color: #0F0E0E;
  border: double #ff5072;
  height: 40vh;
  font-size: 6vh; }
  .main__index a {
    text-decoration: none !important; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

#encontranos {
  height: 10vh;
  font-size: 6vh; }

#novedades {
  background-image: url(../img/novedades.png);
  background-size: 40% 100%;
  background-repeat: no-repeat; }

#ofertas {
  background-image: url(../img/ofertas.png);
  background-size: 40% 100%;
  background-repeat: no-repeat; }

#combos {
  background-image: url(../img/combos.png);
  background-size: 40% 100%;
  background-repeat: no-repeat; }

#sucursal-2 {
  height: 355px;
  width: 474px; }

.carrousel-h {
  height: 50vh; }

header {
  background-color: #F5F0F0; }
