@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

esto es para resetear el css 
*{
	
}


body {
	font-family: monserrat, sans-serif;
	background-color: #ffd99f;
	box-sizing: border-box;
	}

.body{
	font-family: monserrat, sans-serif;
	background-color: #ffd99f;
	box-sizing: border-box;
	margin: 8px !important;
}

#img_radius{
	border-radius: 50%;
	width: 50%;

}

/*inicio nav*/

ul li a{
	border-color: hotpink!important;
}

ul li{
	background: linear-gradient(to left,hotpink,whitesmoke);
	margin-left: 30px;
	border-color: #ffd99f !important;
}

ul li:hover{
	transform: translate(0px,10px);
	transition: transform 1.5s;
}

/*fin nav*/
/*inicio header*/

.carrousel-h{
	height: 50vh;
	
}

/*fin header*/

/*inicio main index*/


.main__index {
	
	color: black;
	border: double hotpink;
	height: 20vh;
	font-size: 6vh;
	}
.main__index a {
	text-decoration: none;
}	

	@media (min-width: 1200px){

	.main__index{
		height: 40vh;

	}	

}


#novedades{
	background-image: url(../img/novedades.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
	

}

#ofertas{
	background-image: url(../img/ofertas.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
	
}

#combos{
	background-image: url(../img/combos.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
	
}

#aside{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#mapa{
	width: 100%;
}


/*fin main index*/

/*main BAZAR/DECO*/
@media (min-width: 1200px){


figure img{
	margin-left: 50px;
}
}

#encontranos{
	text-align: center;
}


}
/*media query 1200px*/
@media (min-width: 1200px){

/*#grid-inicio{
	grid-template-columns: 40% 40% 20%;
	grid-template-rows:19vh 25vh 91.32vh auto ;
	grid-template-areas: 
	"nav nav nav"
	"header header header"
	"main main aside"
	"pie pie pie" ;
}*/
/*inicio nav*/

/*
#nav{
	flex-direction: row;
	top: 0px;

	justify-content: space-evenly;
}
*/
/*.nav{
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;

}*/



/*cuando es ROJO agarra TODOS LOS DIV en cualquier HTML*/
/*ul li{
	display: flex;
	justify-content: space-evenly;
	margin: 20px;

}

ul li a:hover
{
    -webkit-transition: all 0.5s ease-out;
    color: hotpink;
}

 ul li a {
	width: auto;

}*/

/*fin nav*/

/*inicio main*/
#main__index{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
    width: 100%;

}




/*nosotros 320*/

@media (min-width: 320px) {


#grid-nosotros{display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav"
	"main"
	"pie";	
	}

/*inicio nav*/

.nav_nos_cont{
	border-bottom: double 1px hotpink;
}
/*fin nav*/

/*inicio main*/
.main__nosotros{
	grid-area: main;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	text-align: center;

}

.main__nosotros div img{
	border-radius: 50%;
	width: 95%;
	margin: auto;
	


}

.main__nosotros div p{
	text-align: center;
}

}

#suc2{
	height: 216.28px;
}

/*main 320*/

/* nosotros 1200 */

@media(min-width: 1200px){
	#grid-nosotros{display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav"
	"main"
	"pie";	
	}

/* inicio nav */



/*fin nav*/

/*inicio main*/

.main__nosotros{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.sucursales{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

}

#sucursales{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;	
	box-sizing: border-box;

}

#sucursales img{
	height: 100%;
}

.text-alert{
	color: grey;
	}

.texto-historia{
	width: 95%;margin: 20px;
	line-height: 2rem;
	list-style: widht; 
	text-align: center;
	}


/*fin main*/



.aside__bazar_deco{
	grid-area: aside;
}

/*clases extras*/



.fuente-titulos{
	font-family: italic;
	text-align: center;
	}	



.main-titulos-inicio{
		border:double 3px hotpink;
		font-size: 2rem;
		color: black;
-		 
}


.formulario{
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
	border:double 3px hotpink ;
	position: relative;
	bottom: 500px;

	}


*/


