.body{
	font-family: $font_1;
	background-color: map-get($map:$paleta, $key:"color-1");
	box-sizing: border-box;
	margin: 8px !important;

}

h1,h2,h3{
	text-align: center;
	font-size: $L;
	font-weight: $regular;
	text-decoration: underline;

}
h2{
		font-family: italic !important;
	}


figure{
	font-size:$S;
	font-weight: $bold;
}


