@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

//fuentes

$font_1:'montserrat', sans-serif;
$font_2:'EDU-VIC',sans-serif;


//peso-fuentes
$bold:500;
$regular:350;
$light:200;

//alineacion-fuentes
.text-center{
	text-align: center;
}

//tamaño-fuentes

$L:6vh;
$M:4vh;
$S:3vh;
$XS:2vh;
