@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');


//fuentes

$font_1:'montserrat', sans-serif;


//peso-fuentes
$bold:500;
$regular:350;
$light:200;

//alineacion-fuentes
.text-center{
	text-align: center;
}

