.main__index{
	color: map-get($map:$paleta, $key:"negro");
	border:double map-get($map:$paleta, $key:"color-2");;
	height: $gde;
	font-size: $L;
	

		a{
				text-decoration: none !important;
				
			}
	
}

.flex{
	@include flex(row,center,center,wrap);
}

#encontranos{
	height: $peque;
	font-size: $L;
}

#novedades{
	background-image: url(../img/novedades.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
}

#ofertas{
	background-image: url(../img/ofertas.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
	
}

#combos{
	background-image: url(../img/combos.png);
	background-size: 40% 100%;
	background-repeat: no-repeat;
	
}