@mixin flex($direction, $horizontal, $vertical, $wrap){
       display: flex;
       flex-direction: $direction;
       justify-content: $horizontal;
       align-items: $vertical;
       flex-wrap: $wrap;
}     