nav{
	border: double $color-2;
	background-color:map-get($map:$paleta, $key:"negro");
}

ul li{
	background: linear-gradient(to left,$rosa-chicle,$blanco-humo);
	margin-left: 30px;
	border-color: map-get($map:$paleta, $key:"color-1") !important;
		&:hover{
		transform: translate(0px,10px);
		transition: transform 1.5s;

			a{
				border-color: map-get($map:$paleta, $key:"color-2")!important;
				
		}
	}
}

#img_radius{
	border-radius: 50%;
	width: 50%;

}

.nav{
	border-bottom:0px !important;
}

.navbar-toggler{
	background-color:$blanco !important;
	margin-right: 50px;
}

.nav-tabs{
	display:flex;
	justify-content: center;
}

