<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="big deco style, decoracion, bazar, hogar, vasos, rigolleau, vidrio" >
	<meta name="description" content="Web dedicada exclusivamente a la decoración de tu hogar, con artículos de bazar, almohadones, manteles y mucho más !"> 
	<title>BIG DECO STYLE - Bazar</title>
	<link rel="shortcut icon" href="../img/logo.png">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	
</head>
<body class="body">
	<h1 class="text-center">DECORÁ A TU MANERA</h1>
		<nav class="navbar navbar-expand-lg navbar-light sticky-top text-center mr-0.25 mb-2" id="" >
			<a href="../index.html">
		
			<img id="img_radius" src="../img/logo.png" alt="logo_bigdeco">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	    
	     <div class="navbar-collapse collapse justify-content-center" id="navbarSupportedContent">
		<ul class="nav nav-tabs">
	  <li class="nav-item rounded ">
	    <a class="nav-link text-black" aria-current="page" href="../index.html">Inicio</a>
	  </li>
	  <li class="nav-item rounded">
	    <a class="nav-link text-black" href="../views/bazar.html">Bazar</a>
	  </li>
	  <li class="nav-item rounded">
	    <a class="nav-link text-black" href="../views/decoracion.html">Decoración</a>
	  </li>
	  <li class="nav-item rounded">
	    <a class="nav-link text-black" href="../views/nosotros.html">Nosotros</a>
	  </li>
	   <li class="nav-item rounded">
	    <a class="nav-link text-black" href="../views/contacto.html">Contacto</a>
	  </li>
	 
	</ul>
	
	</div>
</nav>
<header class="borde p-2">
	<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/Carousel/021BA5677_2.webp" class="d-block w-100 carrousel-h" alt="imagen-1-crsel">
    </div>
    <div class="carousel-item">
      <img src="../img/Carousel/046LM5870D.webp" class="d-block w-100 carrousel-h" alt="imagen-2-crsel">
    </div>
    <div class="carousel-item">
      <img src="../img/Carousel/CCCFH600.webp" class="d-block w-100 carrousel-h" alt="imagen-3-crsel">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</header><!-- final del HEADER -->  

<h2 class="text-center mt-3" >BAZAR</h2>
	<main class="d-flex flex-wrap justify-content-center">

		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/061CPP0334.webp" class="img-fluid"  alt="articulo-bazar">
			<figcaption  >Cubiertos x 24 Azul</figcaption>
			<p >$2.700,00</p>
		</figure>
		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/061CPP0439.webp" alt="articulo-bazar">
			<figcaption class="d-flex justify-content-center" >Cubiertos x 24 marfil</figcaption>
			<p >$2.700,00</p>
		</figure>
		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/Ri62177gr.webp" alt="articulo-bazar">
			<figcaption class="d-flex justify-content-center">Vaso Oslo 750 cc x Unidad</figcaption>
			<p>$149,99</p>
		</figure>
		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/RI68919GR.webp" alt="articulo-bazar">
			<figcaption class="d-flex justify-content-center">Copón Gourmet 750 cc x Unidad</figcaption>
			<p >$179,99</p>
		</figure>
		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/RI67640GR.webp" alt="articulo-bazar">
			<figcaption class="d-flex justify-content-center">Plato playo Galaxia x Unidad</figcaption>
			<p >$349,99</p>
		</figure>
		<figure class="borde-bazar-deco col-sm-6 col-md-4 d-flex flex-column justify-content-center text-center p-5 rounded">
			<img src="../img/Bazar/RI67641GR.webp" alt="articulo-bazar">
			<figcaption class="d-flex justify-content-center">Plato hondo Galaxia x Unidad</figcaption>
			<p >$349,99</p>
		</figure>

	
		<aside class="aside__bazar_deco" >
		<div id="titulo">
			<h3 id="encontranos">Encontranos</h3>
		</div>
		<div  >
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.7832338332823!2d-58.52746428505225!3d-34.60964246531798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7db5c5277a9%3A0x52d7191d0913f678!2sAsunci%C3%B3n%205109%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1656134662638!5m2!1ses!2sar"referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</aside>

	</main>	
	<footer >
		<div class="mt-2 text-center"><strong>SUCURSALES</strong>
			<ol class="d-flex flex-column justify-content-center">
				<li>MATADEROS</li>
				<p>CARHUE 2556</p>
				<li>VILLA DEL PARQUE</li>
				<p>ASUNCION 5109</p>
			</ol>
		</div>
		<div >
			<div class="mt-2 text-center"> <h3>Seguinos en nuestras redes</h3></div>
			<div class="mt-2 text-center text-nowrap">

			<a href="https://www.bigdecostyle.com/"target="_blank">
			<img src="../img/logo2.png" class="rounded-circle" alt="logo_bigdeco">
			</a>
			<a href="https://www.instagram.com/bigdecostyleok/" target="_blank">
			<img src="../img/instagram.png" class="rounded-circle" alt="logo_ig">
			</a>
			<a href="https://www.facebook.com/BIGDECOSTYLE/" target="_blank">
			<img src="../img/facebook.png" class="rounded-circle" alt="logo_fb">
			</a>
			<img src="../img/whatsapp.png" class="rounded-circle" alt="logo_wpp">
		</div>
	</footer>

	<script src="../js/bootstrap.min.js"></script>
</body>
</html>