<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BIG DECO STYLE - Nosotros</title>
	<link rel="shortcut icon" href="../img/logo.png">
	<!-- MI CSS EXTERNO -->
	<link rel="stylesheet" href="../CSS/STYLE.css">
</head>
<body id="grid-nosotros">
	<nav id="nav" class="nav_nos_cont">
		
		<a class="nav_logo" href="../index.html">
	<!-- para cargar el logo img -->
		<img id="img_radius" src="../img/logo.png" alt="">
		</a>
	
		<ul class="nav">
			<li class="transform"><a class="gradient" href="../index.html">INICIO</a></li>
			<li class="transform"><a class="gradient" href="../views/bazar.html">BAZAR</a></li>
			<li class="transform"><a class="gradient" href="../views/decoracion.html">DECORACION</a></li>
			<li class="transform"><a class="gradient" href="../views/nosotros.html">NOSOTROS</a></li>
			<li class="transform"><a class="gradient" href="../views/contacto.html">CONTACTO</a></li>
		</ul>
	</nav>	<!-- final del nav -->
	
	<main class="main__nosotros">
		<div >
		<h1 class="	fuente-titulos">NOSOTROS</h1>
		<p class="texto-historia">En Abril de 2020, en plena pandemia, decidimos incursionar en este mundo de la decoración y bazar para el hogar. <span class="text-alert">Con mucho esfuerzo nos organizamos y creamos el Instagram y facebook de la marca : Big Deco Style.</span>
		Hoy, 2 años despues, podemos decir que somos reconocidos en este rubro y siempre con la intención de progresar más.</p>
		</div>
		<div class="sucursales" >
		<h2 class="	fuente-titulos" >SUCURSALES </h2>
			<div id="sucursales">
				<p>SUCURSAL 1 : AVENIDA NAZCA 2785 - 2 "B" (VILLA DEL PARQUE)
				<img src="../img/showroom-falso-2.jpg" alt=""></p>
			
				<p>SUCURSAL 2 :CARHUE 2556 (MATADEROS)
				<img id="suc2" src="../img/showroom-falso.jpg" alt="">
				</p>
			</div>
		</div>		
			
			
	</main>
	<footer id="footer">
		<div ><strong>SUCURSALES</strong>
			<ol>
				<li>MATADEROS</li>
				<p>CARHUE 2556</p>
				<li>VILLA DEL PARQUE</li>
				<p>ASUNCION 5109</p>
			</ol>
		</div>
		<div >
			<div> <h3>Seguinos en nuestras redes</h3></div>
			<div id="footer_img">

			<a href="https://www.bigdecostyle.com/" target="_blank">
			<img src="../img/logo2.png" alt="asdiojkqw">
			</a>
			<a href="https://www.instagram.com/bigdecostyleok/" target="_blank">
			<img src="../img/instagram.png" alt="">
			</a>
			<a href="https://www.facebook.com/BIGDECOSTYLE/" target="_blank">
			<img src="../img/facebook.png" alt="">
			</a>
			<img src="../img/whatsapp.png" alt="">
		</div>
	</footer>
	
</body>
</html>